{% extends "base.html" %} 
{{% block title %} 
    Overview for {{ user.username }} 
{% endblock title %} 
    {# TODO check empty for all lists #} 
{% block content %}
<div class="well col-md-6">

    {% include "tictactoe/game_list_snippet.html" with header="Jogos esperando sua jogada" games_list=waiting_games %} 
    {% include "tictactoe/game_list_snippet.html" with header="Outros jogos ativos" games_list=other_games %} 
    {% include "tictactoe/game_list_snippet.html" with header="Jogos terminados" games_list=finished_games %}

</div>

<div class="well col-sm-5 col-sm-push-1">
    {% if invitations %}
        <h3 class="panel-header">Convites em aberto</h3>
        <div class="list-group">
            {% for inv in invitations %}
                <a class="list-group-item" href="{% url 'tictactoe_accept_invitation' pk=inv.id %}">
                    {{ inv.from_user.username }} convidou você para um jogo
                </a> 
            {% endfor %}
        </div>
    {% endif %}

    <a href="{% url 'tictactoe_invite' %}">Convide outra pessoa para jogar</a>
</div>

{% endblock content %}