<h3 class="panel-header">{{ header }}</h3>

<div class="list-group" >
    {% for game in games_list %}
        <a class="list-group-item" href="{% url 'tictactoe_game_detail' pk=game.id%}">
            {{ game }}:
            {% if game.status == "A" %}
                {% if game.next_to_move == user %}Your turn{% else %}Esperando a jogada do oponente{% endif %}
            {% elif game.status == "D" %}
                Empate
            {% elif game.status == "F" and user == game.first_player %}
                Você ganhou!
            {% elif game.status == "S" and user == game.second_player %}
                Você ganhou!
            {% else %}
                Você ganhou!
            {% endif %}
            <span class="badge">{{ game.move_set.count }}</span></a>
    {% empty %}
        <span class="list-group-item">Não há jogos</span>
    {% endfor %}
</div>